/* .App {
  text-align: center;
} */

.animal-container {
  width: 30%;
  display: inline-block;
  margin: 10px;
}

.animal-field {
  margin-left: 3px;
  margin-right: 3px;
  float: left;
  font-size:1vw;
}

.animal-image {
  width: 50%;
  height: 50%;
  float: left;
}

span {
  float: left;
  clear: left;
}

/* .side {
  width: 16.66667%;
  height: 10px;
  margin: 0px;
} */