.image {
    width: 100%;
}

.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
}

.centered-below {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
}