
@media(max-width: 500px) {
    .animal-container {
        width: 320px !important;
    }
    .animal-list-container {
        margin-left: 0px !important;
    }
    body {
        background-color:#C1E3F5;
        max-width: 400px;
    }
    .dropdown-button {
        font-size: 16px;
        float: left;
        padding-bottom: 10px;
    }
    .map-view {
        font-size: 16px;
        float: right;
        padding-bottom: 10px;
        margin-top: 12px !important;
    }
    .dropdown {
        left: 10px !important;
    }
  }

  @media(max-width: 800px) {
    .animal-container {
        width: 350px !important;
    }

    body {
        background-color: #C1E3F5;
        max-width: 400px;
    }
    .map-view {
        font-size: 16px;
        float: right;
        padding-bottom: 10px;
        margin-top: 12px !important;
    }
    .dropdown {
        left: 10px !important;
    }
  }

@media(max-width: 1800px) {
    .animal-container {
        width: 30%;
    }
}

@media(max-width: 5000px) {
    .animal-container {
        width: 30%;
    }
}

.animal-list-container {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
}

.animal-container {
    display: inline-block;
    margin: 10px;
}
  
.animal-field {
    margin-left: 3px;
    margin-right: 3px;
    float: left;
    font-size:1vw;
}

.animal-image {
    width: 50%;
    height: 50%;
    float: left;
}

.animal-card {
    height: 100% !important;
}

.animal-container {
    height: 400px;
}

.card-image {
    height: 100% !important;
    max-height: 80% !important;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-image img {
    height: 100%;
}

.card-title {
    padding: 0px !important;
}

.card-content {
    padding-bottom: 0px !important;
    padding-left: 15px !important;
    padding-top: 15px !important;
    padding-right: 0px !important;
}

.card .card-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.animal-age {
    float: left;
    font-size: 1.2rem;
    display: block;
    width: 100%;
}

.animal-breed {
    float: left;
    margin-right: 10px;
    font-size: 1.2rem;
    display: block;
    width: 100%;
}

.animal-description  {
    float: left;
    font-size: 1.2rem;
    display: block;
}

.animal-email {
    float: left;
    font-size: 1.2rem;
    width:100%;
    margin-top: 20px;
}

.pagination {
    margin-left: 45%;
}

img {
    min-height: 80% !important;
    max-height: 100% !important;
}

.circle-pic {
    height: 150px !important;
    width: 150px;
    margin-left: 33%;
}

.card-title .material-icons {
    right: 5px;
    float: right !important;
}

.card-title {
    float: none;
}

.card-reveal .card-title {
    font-size: 32px;
    margin-left: 10px;
}

.animal-email button {
    float: right;
    right: 0;
}

.card-reveal {
    padding: 10px !important;    
}

body {
    background-color: rgb(204, 216, 223);
}

.profile-name {
    float: left;
    font-size: 32px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;
}

.profile-breed {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-age {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-description {
    font-size: 16px;
    margin-bottom: 5px;
}

.details {
    float: left;
    margin-right: 40px;
    font-size: 14px;
    font-weight: bold;
    color: teal !important;
}

.profile-pic-img {
    width: 100%;
    margin-top: 50px;
}

.map-view {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.map-icon {
    color: teal;
}

.profile-email a:link {
    color: rgb(2, 92, 92);
}

.profile-email a:hover {
    color: rgb(5, 197, 197);
}

.profile-email a:link {
    color: teal;
}
