.nav-wrapper {
    background-color: #1166DA;
    text-decoration:none;
}

.input-field {
    background-color: transparent;
}

.input-field input[type=search]:focus {
    background-color: transparent;
    color: #DDDDDD;
}

a.brand-logo {
    margin-left: 10px;
}

.logo {
    height: 100%;
    width: 150px;
    margin-bottom: 5px;
}

.search-bar {
    height: 30px !important;
}

.search-icon {
    width: 24px;
    margin: 0px !important;
    float: right;
}

.search-bar-item {
    width: 400px;
    height: 64px;
}

.search-bar-item a {
    height: 64px;
}

.search-bar-input {
    width: 340px !important;
    height: 46px;
    position: absolute;
    color: white;
    text-decoration-color: red;

}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #BBBBBB;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

#nav-mobile {
    background-color: rgb(53, 231, 255) !important;
}

#nav-mobile a:active {
    color: black;
}

#nav-mobile a:hover {
    color: black;
}

#nav-mobile a:visited {
    color: black;
}

#nav-mobile .nav-items-right .search-bar-item a form .input-field .material-icons {
    color: black !important;
}